<div class="tagline" fxLayoutAlign="center center" fxLayout="column" fxFlexAlign="center center">
    <div>
        <h1>Gain total control over your Expenses</h1>
    </div>
    <div>
        <h3>Stop living paycheck to paycheck, get out of debt,</h3>
    </div>
    <div>
        <h3> and save more money.</h3>
    </div>

    <div>
        <button mat-raised-button color="primary" (click)="explore()">Explore more to find out</button>
    </div>
    <div>
        <p>
       <strong> Here you can add/Edit or delete Categories and manage transactions in those categories.</strong>
        </p>
    </div>
</div>